h1 {
    text-align: center;
}
svg {
    display: block;
    margin:auto
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0;
    position: absolute;
    margin-top: 45px;
    margin-left: 60px;
}

.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.Iris-setosa {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: inline-block;
    background-color: #EF6F6C;
}

.Iris-versicolor {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: inline-block;
    background-color: #465775;
}
  
.Iris-virginica {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: inline-block;
    background-color: #56E39F;
}